# 25/04 - Pair Programming Pandas 2 -Unir dataframes

In [2]:
import pandas as pd
import numpy as np

# Ejercicio 1
Carga los tres ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos y saber que información tienen en común y debatir con tu compañera como podríamos juntar toda la información.

In [3]:
#Hemos usado el archivo original de attacks, en vez de la versión ya tratada que hicimos en el pair 3. 

df1 = pd.read_csv("3_attacks.csv", index_col= 0)
print(df1.shape)
print(df1.columns)
df2 = pd.read_csv("attacks_adicional.csv", index_col= 0)
print(df2.shape)
print(df2.columns)
df3 = pd.read_csv("attacks_historico.csv", index_col= 0)
print(df3.shape)
print(df3.columns)

#El df1 y df3 tienen las mismas columnas (podemos hacer un concat)
#El df1,df2,df3 tienen la misma columna Case Number(esto nos permitirá hacer un merge).

(6114, 21)
Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')
(6288, 4)
Index(['Case Number', 'Fatal (Y/N)', 'Injury', 'Date'], dtype='object')
(170, 21)
Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [4]:
#Echamos un vistazo a los tres archivos para hacernos una idea del contenido.
print("archivo 1", df1.head(3), "\n\n\n\n")
print("archivo 2", df2.head(3), "\n\n\n\n")
print("archivo 3", df3.head(3), "\n\n\n\n")

archivo 1   Case Number    Year        Type Country        Area  \
0  2018.06.25  2018.0     Boating     USA  California
1  2018.06.18  2018.0  Unprovoked     USA     Georgia
2  2018.06.09  2018.0     Invalid     USA      Hawaii

                         Location  Activity             Name Sex  Age  ...  \
0     Oceanside, San Diego County  Paddling      Julie Wolfe    F  57  ...
1  St. Simon Island, Glynn County  Standing  Adyson McNeely     F  11  ...
2                    Habush, Oahu   Surfing      John Denges    M  48  ...

      Species           Investigator or Source                     pdf  \
0  White shark                R. Collier, GSAF    2018.06.25-Wolfe.pdf
1          NaN  K.McMurray, TrackingSharks.com  2018.06.18-McNeely.pdf
2          NaN  K.McMurray, TrackingSharks.com   2018.06.09-Denges.pdf

                                        href formula  \
0  http://sharkattackfile.net/spreadsheets/pdf_di...
1  http://sharkattackfile.net/spreadsheets/pdf_di...
2  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                href Case Number.1  \
0  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.25
1  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.18
2  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.09

  Case Number.2 original order  Unnamed: 22 Unnamed: 23
0    2018.06.25         6303.0          NaN         NaN
1    2018.06.18         6302.0          NaN         NaN
2    2018.06.09         6301.0          NaN         NaN

[3 rows x 21 columns]




archivo 2   Case Number Fatal (Y/N)                                             Injury  \
0  2018.06.25           N  No injury to occupant, outrigger canoe and pad...
1  2018.06.18           N                         Minor injury to left thigh
2  2018.06.09           N       Injury to left lower leg from surfboard skeg

          Date
0  25-Jun-2018
1  18-Jun-2018
2  09-Jun-2018




archivo 3        Case Number    Year        Type     Country      Area  \
6132    1800.00.00  1800.0  Unprovoked  SEYCHELLES  St. Anne
6133  1797.05.28.R  1797.0  Unprovoked         NaN       NaN
6134    1792.09.12  1792.0    Provoked     ENGLAND       NaN

                 Location                         Activity   Name Sex   Age  \
6132                  NaN  a corsair's boat was overturned    NaN    F  NaN
6133                  NaN                Dropped overboard  child  NaN  NaN
6134  On the Thames River                          Fishing   male    M  NaN

      ... Species            Investigator or Source  \
6132  ...      NaN               V. C. Harvey-Brain
6133  ...      NaN           The Observer 5/28/1797
6134  ...      NaN  The Waterford Herald, 9/15/1792

                              pdf  \
6132  1800.00.00-Corsair-boat.pdf
6133  1797.05.28.R-Cloverdale.pdf
6134        1792.09.12-Thames.pdf

                                           href formula  \
6132  http://sharkattackfile.net/spreadsheets/pdf_di...
6133  http://sharkattackfile.net/spreadsheets/pdf_di...
6134  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href Case Number.1  \
6132  http://sharkattackfile.net/spreadsheets/pdf_di...    1800.00.00
6133  http://sharkattackfile.net/spreadsheets/pdf_di...  1797.05.28.R
6134  http://sharkattackfile.net/spreadsheets/pdf_di...    1792.09.12

     Case Number.2 original order  Unnamed: 22  Unnamed: 23
6132    1800.00.00          171.0          NaN          NaN
6133  1797.05.28.R          170.0          NaN          NaN
6134    1792.09.12          169.0          NaN          NaN

[3 rows x 21 columns]

# Ejercicio 2
Chequeamos que los nombres de las columnas que sean iguales entre dataframes son iguales. ¿Están todas en minúsculas? ¿Tienen espacios? En caso de que no sean todas iguales unificad el nombre de las columnas.

In [5]:
columnas_doc1 = df1.columns
columnas_doc3 = df3.columns

for par in zip(columnas_doc1,columnas_doc3):
    if par[0] == par [1]:
        print ("La columna es igual en ambas tablas", par)
    else: 
        print ("Las columna es distinta", par)

La columna es igual en ambas tablas ('Case Number', 'Case Number')
La columna es igual en ambas tablas ('Year', 'Year')
La columna es igual en ambas tablas ('Type', 'Type')
La columna es igual en ambas tablas ('Country', 'Country')
La columna es igual en ambas tablas ('Area', 'Area')
La columna es igual en ambas tablas ('Location', 'Location')
La columna es igual en ambas tablas ('Activity', 'Activity')
La columna es igual en ambas tablas ('Name', 'Name')
La columna es igual en ambas tablas ('Sex ', 'Sex ')
La columna es igual en ambas tablas ('Age', 'Age')
La columna es igual en ambas tablas ('Time', 'Time')
La columna es igual en ambas tablas ('Species ', 'Species ')
La columna es igual en ambas tablas ('Investigator or Source', 'Investigator or Source')
La columna es igual en ambas tablas ('pdf', 'pdf')
La columna es igual en ambas tablas ('href formula', 'href formula')
La columna es igual en ambas tablas ('href', 'href')
La columna es igual en ambas tablas ('Case Number.1', 'Case Number.1')
La columna es igual en ambas tablas ('Case Number.2', 'Case Number.2')
La columna es igual en ambas tablas ('original order', 'original order')
La columna es igual en ambas tablas ('Unnamed: 22', 'Unnamed: 22')
La columna es igual en ambas tablas ('Unnamed: 23', 'Unnamed: 23')

# Ejercicio 3
En este momento nos habremos dado cuenta que el dataframe que generamos en el pair programming Pandas III es similar al dataframe de los datos historicos. Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, pero esas columnas están todavía en el histórico. Si no fuera por eso podríamos unir esos dataframes. Realizad los cambios que creais necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.

In [10]:
unidosdf1_df3= pd.concat([df1,df3], axis=0, join="outer", ignore_index=True)
print(unidosdf1_df3.shape)
print(unidosdf1_df3.columns)
print("Mostramos las últimas filas para comprobar que se han añadido nuevas filas:", "\n", unidosdf1_df3.tail(3))

(6284, 21)
Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')
Mostramos las últimas filas para comprobar que se han añadido nuevas filas:
      Case Number  Year        Type             Country              Area  \
6281     ND.0003   0.0  Unprovoked                 USA    North Carolina
6282     ND.0002   0.0  Unprovoked              PANAMA               NaN
6283     ND.0001   0.0  Unprovoked  CEYLON (SRI LANKA)  Eastern Province

                                 Location  Activity                   Name  \
6281                       Ocracoke Inlet  Swimming  Coast Guard personnel
6282                 Panama Bay 8ºN, 79ºW       NaN        Jules Patterson
6283  Below the English fort, Trincomalee  Swimming                   male

     Sex   Age  ... Species                 Investigator or Source  \
6281    M  NaN  ...      NaN  F. Schwartz, p.23; C. Creswell, GSAF
6282    M  NaN  ...      NaN                   The Sun, 10/20/1938
6283    M   15  ...      NaN                            S.W. Baker

                                 pdf  \
6281  ND-0003-Ocracoke_1900-1905.pdf
6282      ND-0002-JulesPatterson.pdf
6283              ND-0001-Ceylon.pdf

                                           href formula  \
6281  http://sharkattackfile.net/spreadsheets/pdf_di...
6282  http://sharkattackfile.net/spreadsheets/pdf_di...
6283  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href Case Number.1  \
6281  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0003
6282  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0002
6283  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0001

     Case Number.2 original order  Unnamed: 22 Unnamed: 23
6281       ND.0003            4.0          NaN         NaN
6282       ND.0002            3.0          NaN         NaN
6283       ND.0001            2.0          NaN         NaN

[3 rows x 21 columns]

# Ejercicio 4
Es el momento de unir la información de todos los ataques de tiburón que acabamos de crear con el dataframe de información adicional. Debatid que método es el más correcto para unir toda esta información y ejecutadlo.
📌 NOTA Cuando hagáis la unión considerad que la información que más nos interesa es la del dataframe que creamos en el apartado anterior, lo cual determinará el tipo de unión.

In [11]:
#Vamos a unir el unidosdf1_df3, con df2. Ambos tienen la misma columna "Case number"

print("Las columnas de la primera unión son: ", unidosdf1_df3.columns, "\n")
print("Las columnas del df2, que es el que queda por unir, son: ", df2.columns, "\n")

union_total= unidosdf1_df3.merge(df2, how= "outer", on= "Case Number")
print("La forma del dataframe unión total es: ", union_total.shape, ". El dataframe tiene 3 nuevas columnas", "\n")

print("Las columnas resultantes en el dataframe unión total son: ", union_total.columns, "\n")

union_total.head()

Las columnas de la primera unión son:  Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

Las columnas del df2, que es el que queda por unir, son:  Index(['Case Number', 'Fatal (Y/N)', 'Injury', 'Date'], dtype='object')

La forma del dataframe unión total es:  (6288, 24) . El dataframe tiene 3 nuevas columnas

Las columnas resultantes en el dataframe unión total son:  Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23', 'Fatal (Y/N)', 'Injury', 'Date'],
      dtype='object')

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,Fatal (Y/N),Injury,Date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,N,Minor injury to left thigh,18-Jun-2018
2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,N,Injury to left lower leg from surfboard skeg,09-Jun-2018
3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,N,Minor injury to lower leg,08-Jun-2018
4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,N,Lacerations to leg & hand shark PROVOKED INCIDENT,04-Jun-2018

In [12]:
nuevo = union_total.to_csv("union_ataques.csv")